<div class="container">

  <h1>Land Register Form</h1>

  <form (ngSubmit)="onSubmit()" #landRegisterForm="ngForm">
    <div class="container">
      <h2>Title page</h2>
      <div class="container">
        <div class="form-group">
          <label for="districtCourt">District court: </label>
          <input type="text" class="form-control" id="districtCourt" required
                 [(ngModel)]="landRegister.titlePage.districtCourt" name="districtCourt">
        </div>
        <div class="form-group">
          <label for="landRegistryDistrict">Land registry district: </label>
          <input type="text" class="form-control" id="landRegistryDistrict" required
                 [(ngModel)]="landRegister.titlePage.landRegistryDistrict" name="landRegistryDistrict">
        </div>
        <div class="form-group">
          <label for="sheetNumber">Sheet number: </label>
          <input type="text" class="form-control" id="sheetNumber" required
                 [(ngModel)]="landRegister.titlePage.sheetNumber" name="sheetNumber">
        </div>
      </div>
    </div>

    <div class="container">
      <h2>Inventory register</h2>
      <div class="container">
        <div class="form-group">
          <label for="subdistrict">Subdistrict: </label>
          <input type="text" class="form-control" id="subdistrict" required
                 [(ngModel)]="landRegister.inventoryRegister.subdistrict" name="subdistrict">
        </div>
        <div class="form-group">
          <label for="hall">Hall: </label>
          <input type="text" class="form-control" id="hall" required
                 [(ngModel)]="landRegister.inventoryRegister.hall" name="hall">
        </div>
        <div class="form-group">
          <label for="parcel">Parcel: </label>
          <input type="text" class="form-control" id="parcel" required
                 [(ngModel)]="landRegister.inventoryRegister.parcel" name="parcel">
        </div>
        <div class="form-group">
          <label for="economicType">Economic typ: </label>
          <input type="text" class="form-control" id="economicType" required
                 [(ngModel)]="landRegister.inventoryRegister.economicType" name="economicType">
        </div>
        <div class="form-group">
          <label for="location">Location: </label>
          <input type="text" class="form-control" id="location" required
                 [(ngModel)]="landRegister.inventoryRegister.location" name="location">
        </div>
        <div class="form-group">
          <label for="size">Size: </label>
          <input type="text" class="form-control" id="size" required
                 [(ngModel)]="landRegister.inventoryRegister.size" name="size">
        </div>
      </div>
    </div>

    <div class="container">
      <h2>Owners</h2>

      <div class="container">
        <h3>Owner 1</h3>
        <div class="container">
          <div class="form-group">
            <label for="identityNumber_1">Identity number: </label>
            <input type="text" class="form-control" id="identityNumber_1" required
                   [(ngModel)]="landRegister.owners[0].identityNumber" name="identityNumber_1">
          </div>
          <div class="form-group">
            <label for="title_1">Title: </label>
            <input type="text" class="form-control" id="title_1" required
                   [(ngModel)]="landRegister.owners[0].title" name="title_1">
          </div>
          <div class="form-group">
            <label for="firstname_1">Firstname: </label>
            <input type="text" class="form-control" id="firstname_1" required
                   [(ngModel)]="landRegister.owners[0].firstname" name="firstname_1">
          </div>
          <div class="form-group">
            <label for="lastname_1">Lastname: </label>
            <input type="text" class="form-control" id="lastname_1" required
                   [(ngModel)]="landRegister.owners[0].lastname" name="lastname_1">
          </div>
          <div class="form-group">
            <label for="dateOfBirth_1">Date of birth: </label>
            <input type="text" class="form-control" id="dateOfBirth_1" required
                   [(ngModel)]="landRegister.owners[0].dateOfBirth" name="dateOfBirth_1">
          </div>
          <div class="form-group">
            <label for="postcode_1">Postcode: </label>
            <input type="text" class="form-control" id="postcode_1" required
                   [(ngModel)]="landRegister.owners[0].postcode" name="postcode_1">
          </div>
          <div class="form-group">
            <label for="city_1">City: </label>
            <input type="text" class="form-control" id="city_1" required
                   [(ngModel)]="landRegister.owners[0].city" name="city_1">
          </div>
          <div class="form-group">
            <label for="street_1">Street: </label>
            <input type="text" class="form-control" id="street_1" required
                   [(ngModel)]="landRegister.owners[0].street" name="street_1">
          </div>
          <div class="form-group">
            <label for="streetnumber_1">Streetnumber: </label>
            <input type="text" class="form-control" id="streetnumber_1" required
                   [(ngModel)]="landRegister.owners[0].streetnumber" name="streetnumber_1">
          </div>
        </div>
      </div>

      <div class="container">
        <h3>Owner 2</h3>
        <div class="container">
          <div class="form-group">
            <label for="identityNumber_2">Identity number: </label>
            <input type="text" class="form-control" id="identityNumber_2" required
                   [(ngModel)]="landRegister.owners[1].identityNumber" name="identityNumber_2">
          </div>
          <div class="form-group">
            <label for="title_2">Title: </label>
            <input type="text" class="form-control" id="title_2" required
                   [(ngModel)]="landRegister.owners[1].title" name="title_2">
          </div>
          <div class="form-group">
            <label for="firstname_2">Firstname: </label>
            <input type="text" class="form-control" id="firstname_2" required
                   [(ngModel)]="landRegister.owners[1].firstname" name="firstname_2">
          </div>
          <div class="form-group">
            <label for="lastname_2">Lastname: </label>
            <input type="text" class="form-control" id="lastname_2" required
                   [(ngModel)]="landRegister.owners[1].lastname" name="lastname_2">
          </div>
          <div class="form-group">
            <label for="dateOfBirth_2">Date of birth: </label>
            <input type="text" class="form-control" id="dateOfBirth_2" required
                   [(ngModel)]="landRegister.owners[1].dateOfBirth" name="dateOfBirth_2">
          </div>
          <div class="form-group">
            <label for="postcode_2">Postcode: </label>
            <input type="text" class="form-control" id="postcode_2" required
                   [(ngModel)]="landRegister.owners[1].postcode" name="postcode_2">
          </div>
          <div class="form-group">
            <label for="city_2">City: </label>
            <input type="text" class="form-control" id="city_2" required
                   [(ngModel)]="landRegister.owners[1].city" name="city_2">
          </div>
          <div class="form-group">
            <label for="street_2">Street: </label>
            <input type="text" class="form-control" id="street_2" required
                   [(ngModel)]="landRegister.owners[1].street" name="street_2">
          </div>
          <div class="form-group">
            <label for="streetnumber_2">Streetnumber: </label>
            <input type="text" class="form-control" id="streetnumber_2" required
                   [(ngModel)]="landRegister.owners[1].streetnumber" name="streetnumber_2">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h3>Reservation note</h3>
      <div class="container">
        <div class="form-group">
          <label for="reservationNote">Reservation note: </label>
          <input type="checkbox" class="form-control" id="reservationNote" required
                 [(ngModel)]="landRegister.reservationNote" name="reservationNote">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success"
            [disabled]="!landRegisterForm.form.valid"
    >Create land register</button>

  </form>

  <app-land-register-component [landRegister]="landRegister"></app-land-register-component>
</div>
