<div class="container">

  <h1>Land Register Form</h1>

  <form [formGroup]="landRegister">

    <div class="container" formGroupName="titlePage">
      <h2>Title page</h2>
      <div class="container">
        <div class="form-group">
          <label>
            District court:
            <input class="form-control" type="text" formControlName="districtCourt" required>
          </label>
        </div>
        <div class="form-group">
          <label>
            Land registry district:
            <input class="form-control" type="text" formControlName="landRegistryDistrict" required>
          </label>
        </div>
        <div class="form-group">
          <label>
            Sheet number:
            <input class="form-control" type="text" formControlName="sheetNumber" required>
          </label>
        </div>
      </div>
    </div>

    <div class="container" formGroupName="inventoryRegister">
      <h2>Inventory register</h2>
      <div class="container">
        <div class="form-group">
          <label>
            Subdistrict:
            <input class="form-control" type="text" formControlName="subdistrict" required>
          </label>
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <label>
            Hall:
            <input class="form-control" type="text" formControlName="hall" required>
          </label>
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <label>
            Parcel:
            <input class="form-control" type="text" formControlName="parcel" required>
          </label>
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <label>
            Economic type:
            <input class="form-control" type="text" formControlName="economicType" required>
          </label>
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <label>
            Location:
            <input class="form-control" type="text" formControlName="location" required>
          </label>
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <label>
            Size:
            <input class="form-control" type="text" formControlName="size" required>
          </label>
        </div>
      </div>
    </div>

    <div class="container" formArrayName="owners">
      <h2>Owners</h2>
      <div class="container">
        <div *ngFor="let k of owners.controls;let i=index">
          <div [formGroupName]="i">
            <h3>Owner {{i + 1}}</h3>
            <div class="container">
              <div class="container">
                <div class="form-group">
                  <label>
                    Identity number:
                    <input class="form-control" type="text" formControlName="identityNumber" required>
                  </label>
                </div>
              </div>
              <div class="container">
                <div class="form-group">
                  <label>
                    Title:
                    <input class="form-control" type="text" formControlName="title" required>
                  </label>
                </div>
              </div>
              <div class="container">
                <div class="form-group">
                  <label>
                    First name:
                    <input class="form-control" type="text" formControlName="firstName" required>
                  </label>
                </div>
              </div>
              <div class="container">
                <div class="form-group">
                  <label>
                    Last name:
                    <input class="form-control" type="text" formControlName="lastName" required>
                  </label>
                </div>
              </div>
              <div class="container">
                <div class="form-group">
                  <label>
                    Date of Birth:
                    <input class="form-control" type="text" formControlName="dateOfBirth" required>
                  </label>
                </div>
              </div>
              <div class="container">
                <div class="form-group">
                  <label>
                    Postcode:
                    <input class="form-control" type="text" formControlName="postcode" required>
                  </label>
                </div>
              </div>
              <div class="container">
                <div class="form-group">
                  <label>
                    City:
                    <input class="form-control" type="text" formControlName="city" required>
                  </label>
                </div>
              </div>
              <div class="container">
                <div class="form-group">
                  <label>
                    Street:
                    <input class="form-control" type="text" formControlName="street" required>
                  </label>
                </div>
              </div>
              <div class="container">
                <div class="form-group">
                  <label>
                    Street number:
                    <input class="form-control" type="text" formControlName="streetNumber" required>
                  </label>
                </div>
              </div>
              <div class="container">
                <div class="form-group">
                  <label>
                    Select Co-ownership:
                    <select class="form-control" formControlName="coOwnership" required>
                      <option *ngFor="let coOwnershipPercentage of coOwnershipPercentages"
                              [value]="coOwnershipPercentage.value">
                        {{coOwnershipPercentage.viewValue}}
                      </option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div>
          <button class="btn" (click)="addOwner()">
            add Owner
          </button>
          <button class="btn" (click)="removeOwner()">
            remove last Owner
          </button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="form-group">
        <label>
          Reservation note:
          <input type="checkbox" formControlName="reservationNote">
        </label>
      </div>
    </div>

    <button type="submit"
            class="btn btn-success"
            [disabled]="!landRegister.valid"
            (click)="createLandRegister()"
    >
      {{landRegister.valid ? 'Create land register' : 'Land register has missing fields'}}
    </button>
  </form>

  <app-land-register-component [landRegister]="landRegister.value"></app-land-register-component>
</div>
